[access]
	inheritFrom = All-Projects
[submit]
[access "refs/*"]
	owner = group user/bharatrbk
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/bharatrbk
	label-Verified = -1..+1 group user/bharatrbk
	push = group user/bharatrbk
	read = group user/bharatrbk
	rebase = group user/bharatrbk
	removeReviewer = group user/bharatrbk
	submit = group user/bharatrbk
[access "refs/heads/*"]
	create = group user/bharatrbk
	push = +force group user/bharatrbk
	pushMerge = group user/bharatrbk
	read = group user/bharatrbk
[access "refs/tags/*"]
	push = group user/bharatrbk
	push = +force group user/bharatrbk
